@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 0;
  }
  .before {
    @apply before:w-40 before:h-[1px] before:bg-[#00000050] before:absolute before:top-3 before:right-8 dark:before:bg-[#ffffff50];
  }
  .after {
    @apply after:w-40 after:h-[1px] after:bg-[#00000050] after:absolute after:top-3 after:left-8  dark:after:bg-[#ffffff50];
  }
  .scale-span:hover .span {
    transform: scale(1.04);
  }
  .scale-image:hover .image {
    transform: scale(1.04);
  }
  .outline-rounded {
    outline: 2px solid #e1306c;
    outline-offset: 2px;
  }
  @media screen and (width<=438px) {
    .homebar_icon {
      display: none;
    }
    .homebar {
      justify-content: center;
    }
  }
}
